body{
	padding: 0;
	margin: 0;
	font-family: Montserrat;
}
.company_name{
	background: #FFF;
	border-bottom: 4px solid #39b1ff;
	padding: 10px;
	width: 70%;
	margin: auto;
	
}
.login_holder{
	margin-top: 20px;
	background: #FFF;
	height: 136px;
	border-radius: 10px;
}
.icon_holder{
	background: #2473a6;
	padding:15px;
	height: 68px;
}
.login_button
{
	width: 50%;
	margin: auto;
	background: #FFF;
	border-radius:40px;
	height: 50px;
	cursor: pointer;
}
.menu_box{
    height: 40px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    border:1px solid #FFF;
    color: #FFF;
}
.menu_box:hover{
    background: #FFF;
    color: #013243;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #013243;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    background: #33687A;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
